h1/*กำหนดตำแหน่งตัวบอกสถานะ*/
{
	text-align: center;
}

div/*กำหนดตำแหน่งของรูปภาพ*/
{
	text-align: center;
	padding-top: 3%;
}

th:hover/*เปลี่ยนรูปแบบเมาเมื่อคลิกปุ่ม*/{
  cursor: pointer;
}

#sonic,#lion:hover{/*ไม่ให้เมาส์กดที่รูปตัวละคร*/
  cursor:not-allowed;
}

th:active{/*ให้ปุ่มมีเอฟเฟค*/
  transform: translateY(4px);
}

.replay/*ให้ปุ่มreplayห่างจากด้านบน*/
{
  padding-top: 0%;
}

.replay:active/*เปลี่ยนรูปแบบเมาเมื่อคลิกปุ่ม*/
{
	transform: translateY(4px);
}

.replay:hover{/*ให้ปุ่มมีเอฟเฟค*/
  cursor: pointer;
}

body/*กำหนดพื้นหลัง*/
{
  background-image: url("jpg/back3.jpg");
  background-repeat: no-repeat;
	background-size: 100% 100% 100%;
  background-size: cover;
}

section/*กำหนดตำแหน่งของตัวละคร*/
{
  padding-top: 115px;
  padding-bottom: 13px;
}

.modal {/*กำหนดพื้นหลังหลังเล่นเกมจบ*/
  display: none;
  position: fixed;
  padding-top: 0%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {/*กำหนดตำแหน่งและขนาดรูปหลังเล่นเกมจบ*/
  margin-left: 0%;
  width: 100%;
	height: 100%
}
