body
{
  background-image: url("back3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100% 100% 100%;
  /*background-position:top;*/
}
th:hover{
  cursor: pointer;
}
#sonic,#lion:hover{
  cursor:not-allowed;
}
th:active{
  transform: translateY(4px);
}
